APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPEN_API_KEY=""


FILE_TYPE_EXTENTIONS=["application/pdf","text/plain"]
FILE_MAX_SIZE=10
File_Chunk_Size=512000 #kb

POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5400
POSTGRES_MAIN_DATABASE="minirag"



GENERATION_BACKEND = "GROQ"
EMBEDDING_BACKEND = "LOCALLLM"

GENERATION_MODEL_LITERAL=["llama-3.3-70b-versatile"]
EMBEDDING_MODEL_LITERAL=["sentence-transformers/all-MiniLM-L6-v2"]
GENERATION_MODEL="llama-3.3-70b-versatile"
EMBEDDING_MODEL="embed-multilingual-light-v3.0"

COHERE_API_KEY=""
GROQ_API_KEY=""


EMBEDDING_MODEL_SIZE=384
INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

VECTOR_STORE_BACKEND="PGVECTOR"
VECTOR_STORE_BACKEND_LITERAL=["PGVECTOR","QDRANT"]
DATABASE_PATH="qdrant_db"
Distance_Metric="cosine"
VECTOR_DB_PGVEC_INDEX_THRESHOLD=400

PRIMARY_LANGUAGE="en"
DEFAULT_LANGUAGE="en"