APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPEN_API_KEY=""


FILE_TYPE_EXTENTIONS=["application/pdf","text/plain"]
FILE_MAX_SIZE=10
File_Chunk_Size=512000 #kb

MONGODB_URI="mongodb://admin:admin@localhost:27007/?authSource=admin"
MONGODB_DB_NAME="mini_rag"


GENERATION_BACKEND = "GEMINI"
EMBEDDING_BACKEND = "COHERE"

GENERATION_MODEL="gemini-2.5-flash"
EMBEDDING_MODEL="embed-multilingual-light-v3.0"

COHERE_API_KEY=""
GEMINI_API_KEY=""


EMBEDDING_MODEL_SIZE=384
INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

VECTOR_STORE_BACKEND="QDRANT"
DATABASE_FOLDER="Database"
Distance_Metric="cosine"